.navbar{
    background-color: black;
    /* color: white; */
    
}
.navbar-item{
    list-style: none;
    display: flex;
    /* color: white; */
    font-family: 'Noto Sans', sans-serif;
}
.navbar-item li{
    padding: 0.2rem 1rem 0.2rem 1rem;
    margin: 1rem 0.5rem 1rem 1rem;
    justify-content: center;
    font-weight: bold;
    background-color: white;
    color: black;
    border-radius: 12px;
}
ol:hover{
    cursor: pointer;

}
.navbar h2{
    color: white;
    /* display: inline-flex; */
    line-height: inherit;
}